<h1>Todos los articulos</h1>

<% @articles.each do |article| %>
  <h1><%= article.title %></h1> - <%= link_to "Eliminar", article, method: :delete, style: "color: black" %>
  <p><%= article.body %></p>
  <hr>
<% end %>
