html, body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}
a{
  text-decoration: none;
  color: rgb(500,20,20)
}
.btn{
  background: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
}

a:visited{
  color: #FFB956;
}
.red{
  color: rgb(500,50,50)
}
.be-red{
  background-color: rgb(500,50,50);
}
.white{
  color: white;
}
.top-space{
  margin-top: 1em;
}
.large-padding{
  padding: 15px 7px;
}
.no-list{
  list-style: none;
}
.field{
  margin-top: 1em;
}
.form-control, .actions{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
.text-left{
  text-align: left;
}

